/* Grid */
$box-count: 12;
$box-space: 2;
$box-width: ((100 - (($box-count - 1) * $box-space)) / $box-count);

/* Spaces */
$container-width-value: 1224;
$extended-container-width-value: 1560;
$extended-side-space: (($extended-container-width-value - $container-width-value) / 2);
$desktop-horizontal-space: 30;
$browser-scrollbar-width: 17;
$container-width: ($container-width-value + (2 * $desktop-horizontal-space));
$desktop-vertical-space: 120;
$mobile-horizontal-space: 20; 											
$mobile-vertical-space: 60; 											

/* Responsive breakpoints and containers */
$mobile-breakpoint-value: 700;
$tablet-portrait-breakpoint-value: 900;
$tablet-landscape-breakpoint-value: 1100;
$desktop-breakpoint-value: ($container-width + $browser-scrollbar-width);	/* 1301 */
$large-desktop-breakpoint-value: ($extended-container-width-value + $browser-scrollbar-width); 	/* 1577 */

$mobile-breakpoint: ($mobile-breakpoint-value * 1px);
$tablet-portrait-breakpoint: ($tablet-portrait-breakpoint-value * 1px);
$tablet-landscape-breakpoint: ($tablet-landscape-breakpoint-value * 1px);
$desktop-breakpoint: ($desktop-breakpoint-value * 1px);
$large-desktop-breakpoint: ($large-desktop-breakpoint-value * 1px);

/* Colors */
$black: #333;
$very-dark-grey: #343a40;
$dark-grey: #dfdfdf;
$grey: #e8e8e8;
$light-grey: #f5f5f5;
$light-blue: #f1fbff;
$blue: #015cc8;
$medium-blue: #004495;
$dark-blue: #013471;
$light-green: #e9f2ed;
$green: #299b59;
$dark-green: #0f6533;
$magenta: #d60651;
$medium-magenta: #a7033e;
$dark-magenta: #990138;
$violet: #403257;
$yellow: #ffb505;

/* Z-index */
$z-index-menu: 100;
$z-index-cookie: 150;
$z-index-popup: 200;

/* Other */
$font-size: 18;
$menu-height: 80;
$menu-height-mobile: 70;
$button-height: 48;
$transition: 250ms ease-out;
$radius: 5px;
$opacity: 0.5;
$border: 1px solid $dark-grey;
$players-experience-illustration-height: 630;
$logo-aspect-ratio: 1.96;

/* Fonts */

/*@font-face{
	font-family: 'Daxline Light';
	src: url('../fonts/daxline-light.woff2') format('woff2'),
	url('../fonts/daxline-light.woff') format('woff');
}

@font-face{
	font-family: 'Daxline Black';
	src: url('../fonts/daxline-black.woff2') format('woff2'),
	url('../fonts/daxline-black.woff') format('woff');
}

@font-face{
	font-family: 'Daxline Extra Bold';
	src: url('../fonts/daxline-extra-bold.woff2') format('woff2'),
	url('../fonts/daxline-extra-bold.woff') format('woff');
}*/

/*@mixin daxline-light{
	font-family: 'Daxline Light', Arial, sans-serif;
	font-weight: 400;
}

@mixin daxline-black{
	font-family: 'Daxline Black', Arial, sans-serif;
	font-weight: 400;
}

@mixin daxline-extra-bold{
	font-family: 'Daxline Extra Bold', Arial, sans-serif;
	font-weight: 400;
}*/

@font-face{
	font-family: 'Brandon Grotesque Black';
	src: url('../fonts/brandon-grotesque-black.woff2') format('woff2'),
	url('../fonts/daxline-extra-bold.woff') format('woff'),
	url('../fonts/daxline-extra-bold.otf') format('otf');
}

@mixin font-accent{
	font-family: 'Brandon Grotesque Black', sans-serif;
	font-weight: 400;
}

@mixin font-base-regular{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

@mixin font-base-bold{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}