/* Buttons */

.button{
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	transition: all $transition;
	text-align: center;
	padding: 0 px(30);
	height: ($button-height * 1px);
	line-height: ($button-height * 1px);
	/*font-size: inherit;*/
	font-size: px(15);
	border: none;
	/*@include daxline-extra-bold;*/
	@include font-accent;
	text-transform: uppercase;
	border-radius: $radius;
	white-space: nowrap;
	&--blue{
		background: $blue;
		color: #fff;
		&:hover{
			background: $dark-blue;
		}
	}
	&--green{
		background: $green;
		color: #fff;
		&:hover{
			background: $dark-green;
		}
	}
	&--magenta{
		background: $magenta;
		color: #fff;
		&:hover{
			background: $dark-magenta;
		}
	}
	&--white-green{
		background: #fff;
		color: $black;
		&:hover{
			background: $green;
			color: #fff;
		}
	}
}

.button-holder{
	text-align: center;
}