/* Styles */

html{
	font-size: ($font-size * 1px);
	&.menu-active{
		body{
			overflow: hidden;
		}
	}
}

body{
	color: $black;
	/*@include daxline-light;*/
	@include font-base-regular;
	padding-top: ($menu-height * 1px);
}

a{
	text-decoration: none;
	color: inherit;
}

/* Container */

.container{
	max-width: ($container-width * 1px);
	margin-left: auto;
	margin-right: auto;
	padding-left: ($desktop-horizontal-space * 1px);
	padding-right: ($desktop-horizontal-space * 1px);
}

/* Section */

.section{
	margin-bottom: px($desktop-vertical-space);
}

/* Header */

.header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: $z-index-menu;
	width: 100%;
	background: #fff;
	&.scrolled{
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
	}
	.container{
		height: ($menu-height * 1px);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo{
		$logo-height: 50;
		display: block;
		width: ($logo-height * $logo-aspect-ratio * 1px);
		height: ($logo-height * 1px);
		background: url(../i/logo-alot.svg) no-repeat 0 0;
		background-size: contain;
		position: relative;
		z-index: ($z-index-menu + 2);
	}
	&__menu{
		list-style-type: none;
		display: flex;
		li{
			margin-right: px(40);
			position: relative;
			&:hover{
				.header__submenu{
					/*display: block;*/
					opacity: 1;
					pointer-events: auto;
				}
			}
			&:last-child{
				margin-right: 0;
			}
			&.no-margin{
				margin-right: 0;
			}
			a{
				display: block;
				white-space: nowrap;
				text-transform: uppercase;
				/*@include daxline-extra-bold;*/
				/*@include font-base-bold;*/
				@include font-accent;
				font-size: 16px;
				line-height: 30px;
				transition: opacity $transition;
				&:hover{
					opacity: $opacity;
				}
			}
			.header__submenu{
				a{
					margin-bottom: 10px;
					text-transform: none;
					/*@include daxline-light;*/
					@include font-base-regular;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		&-item-mobile{
			display: none;
		}
	}
	&__submenu{
		/*display: none;*/
		opacity: 0;
		pointer-events: none;
		transition: opacity 250ms ease-out;
		position: absolute;
		left: -15px;
		top: 40px;
		/*background: #eee;*/
		background: #333;
		padding: 15px;
		border-radius: 5px;
		/*background: rgba(255, 255, 255, 0.95);*/
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		color: #fff;
		&:before{
			width: 100%;
			height: 11px;
			position: absolute;
			left: 0;
			top: -11px;
			display: block;
			content: '';
		}
		&:after{
			@include triangle-top(8px, #333);
			display: block;
			content: '';
			position: absolute;
			top: -8px;
			left: 30px;
		}
	}
	&__hamburger{
		display: none;
		width: 25px;
		height: 25px;
		cursor: pointer;
		position: relative;
		z-index: ($z-index-menu + 2);
		&-line{
			width: 100%;
			height: 2px;
			background: $black;
			position: absolute;
			left: 0;
			transition: all $transition;
			transform-origin: 0 50%;
			&--1{
				top: 0;
			}
			&--2{
				top: 50%;
				transform: translate(0,-50%);
			}
			&--3{
				bottom: 0;
			}
		}
		&-icon{
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			&.active{
				.header__hamburger-line--1{
					width: calc(141% - 2px);
					transform: rotate(45deg);
				}
				.header__hamburger-line--2{
					opacity: 0;
				}
				.header__hamburger-line--3{
					width: calc(141% - 2px);
					transform: rotate(-45deg);
				}
			}
		}
	}
}

@supports (backdrop-filter: none) {
	.header{
		background: rgba(255, 255, 255, 0.8);
		backdrop-filter: saturate(180%) blur(20px);
	}
}

/* Hero */

.hero{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #333;
	color: #fff;
	position: relative;
	&:before{
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	&--homepage{
		margin-bottom: 0;
		background-image: url(../i/hero-homepage.jpg);
		/*&:before{
			background: linear-gradient(to right, rgba(80, 52, 47, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		}*/
	}
	&--risk-management{
		/*margin-bottom: 0;*/
		background-image: url(../i/hero-prize-cover.jpg);
		&:before{
			/*background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);*/
			background: linear-gradient(to right, rgba(43, 39, 37, 0.7) 25%, rgba(43, 39, 37, 0) 100%);
		}
	}
	&--gaming-content{
		/*background-image: url(../i/hero-gaming-content.jpg);*/
		background-image: url(../i/hero-games.jpg);
		&:before{
			/*background: linear-gradient(to right, rgba(7, 26, 46, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);*/
			background: linear-gradient(to right, rgba(25, 13, 38, 0.7) 0%, rgba(25, 13, 38, 0) 100%);
		}
		.hero__holder{
			.paragraph-big{
				max-width: 530px;
			}
		}
	}
	&--omnichannel-lottery{
		/*margin-bottom: 0;*/
		/*background-image: url(../i/hero-omnichannel-lottery.jpg);*/
		background-image: url(../i/hero-lottery-systems.jpg);
		&:before{
			/*background: linear-gradient(to right, rgba(40, 37, 46, 0.85) 0%, rgba(0, 0, 0, 0.25) 100%);*/
			background: linear-gradient(to right, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}
	&--lotto-betting{
		/*margin-bottom: 0;*/
		background-image: url(../i/hero-lotto-betting.jpg);
		/*&:before{
			background: linear-gradient(to right, rgba(40, 37, 46, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		}*/
	}
	&--instant-win-games{
		background-image: url(../i/hero-instant-win-games.jpg);
		/*&:before{
			background: linear-gradient(to right, rgba(40, 37, 46, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
		}*/
	}
	&--keno-games{
		background-image: url(../i/hero-keno-games.jpg);
		&:before{
			display: none;
		}
	}
	&--about-us{
		background-image: url(../i/hero-about-us.jpg);
		&:before{
			background: linear-gradient(to right, rgba(16, 24, 32, 0.5) 0%, rgba(16, 24, 32, 0) 100%);
		}
		.hero__holder{
			.paragraph-big{
				max-width: 550px;
			}
		}
	}
	&--awards{
		background-image: url(../i/hero-awards.jpg);
		color: $black;
		/*&:before{
			background: linear-gradient(to right, rgba(80, 52, 47, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		}*/
		.hero__holder{
			.paragraph-big{
				max-width: 530px;
			}
		}
	}
	&--example-deployments{
		background-image: url(../i/hero-example-deployments.jpg);
		margin-bottom: 0;
		&:before{
			background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.15) 100%);
		}
	}
	&--promotions{
		background-image: url(../i/hero-promotions.jpg);
		&:before{
			/*background: linear-gradient(to right, rgba(37, 20, 31, 0.6) 0%, rgba(37, 20, 31, 0) 100%);*/
			background: linear-gradient(to right, rgba(37, 20, 31, 0.8) 0%, rgba(37, 20, 31, 0.1) 100%);
		}
	}
	&--ice2020{
		margin-bottom: 0;
		background-image: url(../i/hero-ice2020.jpg);
		.hero__holder{
			.paragraph-big{
				max-width: 530px;
			}
		}
		/*&:before{
			background: linear-gradient(to right, rgba(80, 52, 47, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
		}*/
	}
	&--prize-draw{
		background-image: url(../i/hero-prize-draw.jpg);
		background-position: right center;
		margin-bottom: 0;
		&:before{
			background: linear-gradient(to right, rgba(32, 29, 33, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}
	&--lottery-prize-cover{
		background-image: url(../i/hero-lottery-prize-cover.jpg);
		&:before{
			background: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}
	&__holder{
		min-height: px(650);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-top: px($desktop-vertical-space);
		padding-bottom: px($desktop-vertical-space);
		.heading-1{
			max-width: 790px;
			margin-bottom: px(30);
			&:last-child{
				margin-bottom: 0;
			}
		}
		.paragraph-big{
			max-width: 750px;
			margin-bottom: px(30);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&__illustration{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&-text{
			flex-basis: box(5);
		}
		&-image{
			flex-basis: box(7);

			&-holder{
				margin-right: (-$extended-side-space * 1px);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				&--keno-games{
					height: px(220);
					background-image: url(../i/logo-keno-games.png);
				}
			}
		}
	}
	&__logo-anchor{
		display: block;
		background-position: 0 0;
		background-size: contain;
		background-repeat: no-repeat;
		transition: opacity 250ms ease-out;
		&:hover{
			opacity: 0.7;
		}
		&--ice2020{
			$logo-width: 125;
			$logo-aspect-ratio: 0.58;
			background-image: url(../i/logo-ice2020.svg);
			width: px($logo-width);
			height: px($logo-width * $logo-aspect-ratio);
		}
	}
	.container{
		position: relative;
		z-index: 2;
	}
}

/* Statistics */

.stats{
	background: $yellow;
	padding-top: px($desktop-vertical-space / 2);
	padding-bottom: px($desktop-vertical-space / 2);
	.heading-holder{
		margin-bottom: 0;
	}
	&__holder{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		@include flex-basis(5, 3);
	}
	&__value{
		font-size: px(40);
		line-height: 1;
		text-transform: uppercase;
		padding-bottom: px(27);
		margin-bottom: px(25);
		position: relative;
		/*@include daxline-extra-bold;*/
		@include font-accent;
		&:before{
			display: block;
			content: '';
			width: px(50);
			height: 3px;
			background: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	.paragraph{
		max-width: 190px;
	}
}

/* Products & Services */

.products-services{
	$services-item-width: box-value(5);
	$services-item-count: 2;
	$holder-side-space: ((100 - (($services-item-width * $services-item-count) + $box-space)) / 2);
	&__illustration{
		margin-left: (-$extended-side-space * 1px);
		margin-right: (-$extended-side-space * 1px);
		&-image{
			background: url(../i/products-services-illustration.jpg) no-repeat center center;
			background-size: contain;
			padding-top: 37.95%;
		}
	}
	&__holder{
		margin-top: px(-137);
		display: flex;
		flex-wrap: wrap;
		/*justify-content: center;
		align-items: flex-start;*/
	}
	&__item{

	}
	/*&__column{
		flex-basis: box(5);
		margin-right: ($box-space * 1%);
		&:last-child{
			padding-top: px(60);
			margin-right: 0;
		}
	}*/
	&__item{
		background: #fff;
		/*margin-bottom: 25px;*/
		border: $border;
		border-radius: $radius;
		flex-basis: ($services-item-width * 1%);
		margin-right: ($box-space * 1%);
		margin-bottom: ($box-space * 1%);
		&:nth-child(#{$services-item-count}n+1){
			margin-left: ($holder-side-space * 1%);
		}
		&:nth-child(#{$services-item-count}n){
			margin-right: ($holder-side-space * 1%);
		}
		/*&:last-child{
			margin-bottom: 0;
		}*/
		&-header{
			background: $light-grey;
			padding: px(25) px(40);
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
		}
		&-body{
			padding: px(40);
		}
	}
	.heading-1{
		margin-bottom: 0;
	}
}

/* Heading holder */

.heading-holder{
	margin-bottom: px($desktop-vertical-space / 2);
	display: flex;
	&--narrow-text{
		justify-content: space-between;
		.heading-holder__item{
			margin-right: 0;
			&:last-child{
				flex-basis: box(5);
			}
		}
	}
	&--center{
		align-items: center;
	}
	&__item{
		flex-basis: box(6);
		margin-right: ($box-space * 1%);
		&:last-child{
			margin-right: 0;
		}
		&--right{
			text-align: right;
		}
		&-narrow-content{
			max-width: px(500);
		}
	}
	&:last-child{
		margin-bottom: 0;
	}
}

/* Clients */

.clients{
	&__holder{

	}
	&__row{
		display: flex;
		margin-bottom: ($box-space * 1%);
		&:last-child{
			margin-bottom: 0;
		}
		&--reverse{
			justify-content: flex-end;
		}
		&--center{
			justify-content: center;
		}
	}
	&__logo{
		flex-basis: box(3);
		margin-right: ($box-space * 1%);
		border-radius: $radius;
		border: $border;
		position: relative;
		height: px(160);
		/*&:hover{
			&:before{
				opacity: 1;
			}
		}*/
		&:before{
			position: absolute;
			display: block;
			content: '';
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 60%;
			height: px(50);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			/*opacity: $opacity;
			transition: opacity $transition;*/
		}
		&:last-child{
			margin-right: 0;
		}
		&:nth-child(4n){
			margin-right: 0;
		}
		&--kindred{
			&:before{
				background-image: url(../i/logo-kindred.png);
			}
		}
		&--unibet{
			&:before{
				background-image: url(../i/logo-unibet.svg);
			}
		}
		/*&--bwin{
			&:before{
				background-image: url(../i/logo-bwin.png);
			}
		}*/
		&--betvictor{
			&:before{
				background-image: url(../i/logo-betvictor.png);
			}
		}
		/*&--william-hill{
			&:before{
				background-image: url(../i/logo-william-hill.png);
			}
		}*/
		&--bgt{
			&:before{
				background-image: url(../i/logo-bgt.png);
			}
		}
		&--lottoland{
			&:before{
				background-image: url(../i/logo-lottoland.svg);
			}
		}
		&--lottomart{
			&:before{
				background-image: url(../i/logo-lottomart-orange.png);
			}
		}
		&--hero-gaming{
			&:before{
				background-image: url(../i/logo-hero-gaming.png);
			}
		}
	}
}

/* News */

.news{
	$news-item-width: box-value(5);
	$news-item-count: 2;
	$holder-side-space: ((100 - (($news-item-width * $news-item-count) + $box-space)) / 2);
	&__holder{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: px($desktop-vertical-space / 2);
		/*justify-content: center;*/
		/*padding-left: ($holder-side-padding * 1%);
		padding-right: ($holder-side-padding * 1%);*/
	}
	&__item{
		flex-basis: ($news-item-width * 1%);
		margin-right: ($box-space * 1%);
		&:nth-child(#{$news-item-count}n+1){
			margin-left: ($holder-side-space * 1%);
		}
		&:nth-child(#{$news-item-count}n){
			margin-right: ($holder-side-space * 1%);
		}
	}
}

/* Articles */

.articles{
	$overlap: 117;
	&__header{
		background: $very-dark-grey url(../i/hero-text.jpg) no-repeat center center;
		background-size: cover;
		padding-top: px($desktop-vertical-space);
		padding-bottom: px($desktop-vertical-space / 2);
		&--overlap{
			padding-bottom: px(($desktop-vertical-space / 2) + $overlap);
			margin-bottom: px(-$overlap);
		}
		.heading-1{
			color: #fff;
			text-align: center;
		}
	}
	&__hero{
		height: px(560);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		/*margin-bottom: px(-140);*/
		margin-bottom: px(-100);
		border-radius: $radius;
	}
	&__content{

	}
	&__holder{
		display: flex;
		flex-wrap: wrap;
		&:last-child{
			margin-bottom: px(-$desktop-vertical-space / 2);
		}
	}
	&__item{
		@include flex-basis(3, $box-space);
		margin-bottom: px($desktop-vertical-space / 2);
	}
	&__button-holder{
		max-width: 820px;
		padding-left: px(60);
		padding-right: px(60);
		margin-left: auto;
		margin-right: auto;
	}
	.container{
		position: relative;
		z-index: 2;
	}
	&__text{
		max-width: 820px;
		margin-left: auto;
		margin-right: auto;
		padding: px(60) px(60) 0 px(60);
		background: #fff;
		margin-bottom: px($desktop-vertical-space / 2);
		border-radius: $radius;
		&:last-child{
			margin-bottom: 0;
		}
		p{
			font-size: px($font-size);
			line-height: (28 / $font-size);
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				color: $blue;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
		strong{
			/*@include daxline-extra-bold;*/
			@include font-base-bold;
		}
		h1, h2, h3, h4, h5, h6{
			/*@include daxline-extra-bold;*/
			@include font-accent;
			margin-top: 70px;
			text-transform: uppercase;
			margin-bottom: 15px;
			&:first-child{
				margin-top: 0;
			}
		}
		h1{
			font-size: px(35);
			& + h2,
			& + h3,
			& + h4,
			& + h5,
			& + h6{
				margin-top: 0;
			}
		}
		h2{
			font-size: px(30);
			& + h3,
			& + h4,
			& + h5,
			& + h6{
				margin-top: 0;
			}
		}
		h3{
			font-size: px(25);
			& + h4,
			& + h5,
			& + h6{
				margin-top: 0;
			}
		}
		h4{
			font-size: px(20);
			& + h5,
			& + h6{
				margin-top: 0;
			}
		}
		h5{
			font-size: px(20);
			& + h6{
				margin-top: 0;
			}
		}
		h6{
			font-size: px(20);
		}
		.delimiter-heading{
			padding-top: 70px;
			border-top: 1px solid $grey;
		}
		ul, ol{
			margin-left: 50px;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
			li{
				font-size: px($font-size);
				line-height: (28 / $font-size);
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		ul{
			list-style-type: square;
		}
		.date{
			font-size: 14px;
			opacity: $opacity;
		}
		img{
			display: block;
			width: 100%;
			height: auto;
			margin-top: 70px;
			margin-bottom: 70px;
		}
	}
}

/* Article preview */

.article-preview{
	border: 1px solid rgba(0, 0, 0, 0.11);
	border-radius: $radius;
	overflow: hidden;
	height: 100%;
	&--more-news{
		border-style: dashed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: px(30);
		min-height: 150px;
		background: #fff;
	}
	&__more-news-text{
		font-size: px(20);
		opacity: 0.25;
	}
	&__image{
		display: block;
		height: px(235);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $grey;
		position: relative;
		&:hover{
			&:before{
				opacity: 0.25;
			}
		}
		&:before{
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			transition: opacity $transition;
			background: #fff;
		}
	}
	&__text{
		background: #fff;
		padding: px(40);
	}
	&__date{
		font-size: 14px;
		opacity: $opacity;
		margin-bottom: px(10);
	}
	.heading-2{
		a{
			transition: color $transition;
			&:hover{
				color: $blue;
			}
		}
	}
}

/* Footer */

.footer{
	/*background: $light-grey;*/
	background: linear-gradient(to bottom, $light-grey, #fff);
	padding-top: px($desktop-vertical-space);
	padding-bottom: px($desktop-vertical-space);
	font-size: 15px;
	&__holder{
		display: flex;
	}
	&__column{
		flex-basis: box(3);
		margin-right: ($box-space * 1%);
		&:last-child{
			margin-right: 0;
		}
	}
	&__logo{
		$logo-height: 50;
		width: ($logo-height * $logo-aspect-ratio * 1px);
		height: ($logo-height * 1px);
		display: block;
		background: url(../i/logo-alot-black.svg) no-repeat 0 0;
		background-size: contain;
		opacity: $opacity;
		transition: opacity $transition;
		margin-bottom: 20px;
		&:hover{
			opacity: 1;
		}
	}
	&__paragraph{
		/*line-height: (21 / 15);*/
		line-height: 1.55;
		/*opacity: $opacity;*/
		opacity: 0.7;
		margin-bottom: px(25);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__list{
		list-style-type: none;
		li{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				/*opacity: $opacity;*/
				opacity: 0.7;
				transition: all $transition;
				&:hover{
					opacity: 1;
					color: $blue;
				}
			}
		}
	}
	&__heading{
		opacity: 0.7;
		margin-bottom: 20px;
		@include font-accent;
		text-transform: uppercase;
		font-size: px(17);
	}
}

/* Image with description */

.image-with-description{
	$illustration-height: 500;
	$plate-padding: 70;
	&__holder{
		position: relative;
		min-height: px($illustration-height + $plate-padding);
	}
	&__plate{
		width: box(5);
		position: relative;
		z-index: 2;
		padding: px($plate-padding);
		border-radius: $radius;
		&--green{
			background: $green;
			color: #fff;
		}
		&--blue{
			background: $blue;
			color: #fff;
		}
		&--magenta{
			background: $magenta;
			color: #fff;
		}
	}
	&__text{
		/*@include daxline-extra-bold;*/
		/*@include font-base-bold;*/
		font-size: px(20);
		line-height: (30 / 20);
	}
	&__illustration{
		position: absolute;
		top: px($plate-padding);
		right: 0;
		border-radius: $radius;
		background-color: $grey;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: box(10);
		height: px($illustration-height);
	}
}

/* Icon list */

.icon-list{
	$icon-height: 95;
	list-style-type: none;
	&__item{
		margin-bottom: px(50);
		padding-left: px(125);
		min-height: px($icon-height);
		position: relative;
		&:last-child{
			margin-bottom: 0;
		}
		&--horseshoe{
			&:before{
				background-image: url(../i/icon-horseshoe-blue.svg);
			}
		}
		&--cloverleaf{
			&:before{
				background-image: url(../i/icon-cloverleaf-blue.svg);
			}
		}
		&--license{
			&:before{
				background-image: url(../i/icon-license-blue.svg);
			}
		}
		&--trophy{
			&:before{
				background-image: url(../i/icon-trophy-blue.svg);
			}
		}
		&:before{
			display: block;
			content: '';
			width: px(80);
			height: px($icon-height);
			position: absolute;
			left: 0;
			top: 0;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
	.heading-2{
		color: $blue;
		margin-bottom: 10px;
	}
}

/* Why choose us */

.why-choose{
	&__holder{
		margin-left: ((box-value(2) + $box-space) * 1%);
		max-width: 600px;
	}
}

/* Use cases */

.use-cases{
	&__holder{

	}
	&__row{
		display: flex;
		margin-bottom: px($desktop-vertical-space);
		&:last-child{
			margin-bottom: 0;
		}
		&--reverse{
			justify-content: flex-end;
		}
		&--3{
			.use-cases__item{
				@include flex-basis(3, 6);
				margin-left: 0;
				/*margin-left: 0;*/
				/*&:last-child{
					margin-right: 0;
				}*/
			}

		}
	}
	&__item{
		flex-basis: box(4);
		margin-left: ((box-value(1) + ($box-space * 2)) * 1%);
		&:last-child{
			margin-right: 0;
		}
	}
	&__illustration{
		padding-top: 73%;
		border-radius: $radius;
		background-color: $grey;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin-bottom: px(30);
	}
}

/* Players experience */

.players-experience{
	margin-bottom: 0;
	&__illustration{
		height: px($players-experience-illustration-height);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../i/players-experience.png);
		position: relative;
		z-index: 2;
	}
	.heading-holder{
		margin-bottom: 20px;
	}
}

/* Lotto betting */

.lotto-betting{
	background: $light-green;
	padding-top: px(($players-experience-illustration-height / 2) + $desktop-vertical-space);
	padding-bottom: px($desktop-vertical-space);
	margin-top: px(-$players-experience-illustration-height / 2);
}

/* Square lottery icons */

.lottery-icons{
	$margin: 6;
	$icon-size: flex-basis(2, $margin);
	display: flex;
	flex-wrap: wrap;
	&__item{
		flex-basis: $icon-size;
		padding-top: $icon-size;
		margin-right: ($margin * 1%);
		margin-bottom: ($margin * 1%);
		background-color: $green;
		position: relative;
		border-radius: $radius;
		&:nth-child(2n){
			margin-right: 0;
		}
		&:nth-last-child(1),
		&:nth-last-child(2){
			margin-bottom: 0;
		}
		&--euromillions{
			&:before{
				background-image: url(../i/logo-euromillions.png);
			}
		}
		&--eurojackpot{
			&:before{
				background-image: url(../i/logo-eurojackpot.png);
			}
		}
		&--megamillions{
			&:before{
				background-image: url(../i/logo-megamillions.png);
			}
		}
		&--powerball{
			&:before{
				background-image: url(../i/logo-powerball.png);
			}
		}
		&:before{
			display: block;
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 70%;
			height: 57%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
		}
	}
}

/* Standalone split content */

.split-content{
	display: flex;
	justify-content: flex-end;
	margin-bottom: px($desktop-vertical-space);
	&:last-child{
		margin-bottom: 0;
	}
	&__item{
		flex-basis: box(5);
		margin-right: (($box-width + (2 * $box-space)) * 1%);
		&:last-child{
			margin-right: 0;
		}
	}
}

.split-content-narrow{
	$split-item-width: box-value(5);
	$split-item-count: 2;
	$holder-side-space: ((100 - (($split-item-width * $split-item-count) + $box-space)) / 2);
	display: flex;
	flex-wrap: wrap;
	/*justify-content: flex-end;*/
	margin-bottom: px($desktop-vertical-space);
	&:last-child{
		margin-bottom: 0;
	}
	&__item{
		/*flex-basis: box(5);
		margin-right: (($box-width + (2 * $box-space)) * 1%);
		&:last-child{
			margin-right: 0;
		}*/
		flex-basis: ($split-item-width * 1%);
		margin-right: ($box-space * 1%);
		&:nth-child(#{$split-item-count}n+1){
			margin-left: ($holder-side-space * 1%);
		}
		&:nth-child(#{$split-item-count}n){
			margin-right: ($holder-side-space * 1%);
		}
	}
}

/* Text icons */

.text-icon{
	&--circle{
		width: px(135);
		height: px(135);
		background-color: #fff;
		border-radius: 50%;
		margin-bottom: px(20);
		background-position: center center;
		background-repeat: no-repeat;
	}
	&--magenta{
		background-color: $magenta;
	}
	&--green{
		background-color: $green;
	}
	&--luck-violet{
		background-image: url(../i/icon-luck-violet.svg);
		background-size: auto 65%;
	}
	&--api-violet{
		background-image: url(../i/icon-api-violet.svg);
		background-size: auto 40%;
	}
	&--luck-green{
		background-image: url(../i/icon-luck-green.svg);
		background-size: auto 65%;
	}
	&--luck-white{
		background-image: url(../i/icon-luck-white.svg);
		background-size: auto 65%;
	}
	&--api-green{
		background-image: url(../i/icon-api-green.svg);
		background-size: auto 40%;
	}
	&--api-white{
		background-image: url(../i/icon-api-white.svg);
		background-size: auto 40%;
	}
	&--raffle-white{
		background-image: url(../i/icon-raffle-white.svg);
		background-size: auto 48%;
	}
	&--raffle-ticket-white{
		background-image: url(../i/icon-raffle-ticket-white.svg);
		background-size: auto 40%;
	}
}

/* Other games */

.other-games{
	&__holder{
		display: flex;
	}
	&__column{
		flex-basis: box(6);
		margin-right: ($box-space * 1%);
		&--offset{
			padding-top: px(240);
		}
		&:last-child{
			margin-right: 0;
		}
	}
	&__item{
		width: (box(4) * 2);
		margin: 0 auto;
	}
	&__illustration{
		padding-top: 73%;
		border-radius: $radius;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: $grey;
		margin-bottom: px(30);
	}
}

/* Related products */

.related-products{
	$related-items: 3;
	$related-items-margin: 3;
	margin-bottom: 0;
	padding-top: px($desktop-vertical-space);
	padding-bottom: px($desktop-vertical-space);
	background: $very-dark-grey;
	&__wrapper{
		width: box(10);
		margin-left: auto;
		margin-right: auto;
	}
	&__holder{
		display: flex;
		justify-content: center;
		margin-bottom: px($desktop-vertical-space / 2);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__item{
		@include flex-basis($related-items, $related-items-margin);
		border-radius: $radius;
		background: #fff;
		overflow: hidden;
	}
	&__illustration{
		display: block;
		height: px(180);
		background-color: $light-grey;
		background-repeat: no-repeat;
		background-position: center center;
		transition: background-color $transition;
		&:hover{
			background-color: $green;
		}
		&--lottery{
			background-image: url(../i/logo-eurojackpot.png);
			background-size: auto 70%;
		}
		&--instant-win{
			background-image: url(../i/logo-ring.png);
			background-size: auto 75%;
		}
		&--keno{
			background-image: url(../i/logo-keno-247.png);
			background-size: auto 75%;
		}
		&--api{
			background-image: url(../i/icon-api-grey.svg);
			background-size: auto 50%;
			&:hover{
				background-image: url(../i/icon-api-white.svg);
			}
		}
	}
	&__text-holder{
		padding: px(30);
		.heading-3{
			a{
				transition: color $transition;
				&:hover{
					color: $green;
				}
			}
		}
	}
	&__button-holder{
		text-align: center;
		.button{
			width: flex-basis($related-items, $related-items-margin);
		}
	}
	.heading-1{
		color: #fff;
	}
}

/* Over plate text */

.overplate-text{
	margin-top: px(-135);
	position: relative;
	z-index: 3;
	&__plate{
		width: box(10);
		margin-left: auto;
		margin-right: auto;
		padding: px($desktop-vertical-space / 2);
		display: flex;
		border-radius: $radius;
		&--green{
			background: $green;
			color: #fff;
		}
	}
	&__column{
		$margin: 6;
		flex-basis: flex-basis(2, $margin);
		margin-right: ($margin * 1%);
		&:last-child{
			margin-right: 0;
		}
	}
}

/* Overprint image */

.overprint-image{
	&__holder{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__illustration-holder{
		flex-basis: box(6);
	}
	&__illustration-wrapper{
		margin-left: (-$extended-side-space * 1px);
	}
	&__illustration{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		&--1{
			padding-top: 85.6%;
			background-image: url(../i/lottery-ticket.png);
		}
		&--2{
			padding-top: 61.2%;
			background-image: url(../i/quantum-rng.jpg);
		}
	}
	&__text-holder{
		flex-basis: box(5);
	}
}

.ticket-features{
	$icon-size: 50;
	$icon-offset: 15;
	list-style-type: none;
	&__item{
		margin-bottom: px(20);
		padding-left: px($icon-size + $icon-offset);
		position: relative;
		min-height: px($icon-size);
		color: $green;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--double-jackpot{
			&:before{
				background-image: url(../i/icon-double-green.svg);
			}
		}
		&--number-shield{
			&:before{
				background-image: url(../i/icon-number-shield-green.svg);
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			content: '';
			width: px($icon-size);
			height: px($icon-size);
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

/* Logo and text */

.logo-text{
	&__holder{
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	&__icons{
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		flex-basis: box(4);
		margin-right: ($box-space * 1%);
		&-item{
			flex-basis: 40%;
			padding-top: 40%;
			margin-right: 10%;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			&--ring{
				background-image: url(../i/logo-ring.png);
			}
			&--itech{
				background-image: url(../i/logo-itech.png);
			}
		}
	}
	&__description{
		flex-basis: box(6);
	}
}

/* One logo and long description */

.logo-description{
	&__holder{
		display: flex;
		/*justify-content: flex-start;*/
		align-items: center;
	}
	&__icon{
		width: 150px;
		height: 150px;
		margin-right: 4%;
		flex-grow: 0;
		flex-shrink: 0;
		&--ring{
			background: url(../i/logo-ring.png) no-repeat center center;
			background-size: contain;
		}
	}
	&__text{
		flex: 1 1 auto;
	}
}

/* Games Embed */

.game-embed{
	$offset: 150;
	margin-bottom: 0;
	&__mobile{
		padding-bottom: px($desktop-vertical-space / 2);
		position: relative;
		&--alternative{
			padding-top: px($desktop-vertical-space / 2);
			.game-embed__mobile-plate{
				top: 0;
			}
			.game-embed__device-mobile{
				&:before{
					background-image: url(../i/lottery-ball-green-25.png);
					left: px(-165);
					bottom: px(80);
					top: initial;

				}
				&:after{
					background-image: url(../i/lottery-ball-green-27.png);
					right: px(-125);
					top: px(277);
					bottom: initial;
				}
			}
		}
		.heading-1{
			color: #fff;
			text-align: center;
		}
		&-plate{
			background: $green;
			position: absolute;
			left: 0;
			top: px($offset);
			width: 100%;
			height: 100%;
		}
		.container{
			position: relative;
			z-index: 2;
		}
	}
	&__device-mobile{
		width: 100%;
		max-width: 431px;
		margin: 0 auto px($desktop-vertical-space / 2) auto;
		position: relative;
		&:before,
		&:after{
			display: block;
			content: '';
			width: px(150);
			height: px(150);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			border-radius: 50%;
			box-shadow: 0 px(10) px(25) 0 rgba(0, 0, 0, 0.15);
		}
		&:before{
			background-image: url(../i/lottery-ball-green-20.png);
			left: px(-225);
			top: px(77);
		}
		&:after{
			background-image: url(../i/lottery-ball-green-24.png);
			right: px(-114);
			bottom: px(80);
		}
		&-holder{
			padding-top: 200%;
			background: url(../i/device-mobile.png) no-repeat center top;
			background-size: contain;
			position: relative;
			z-index: 4;
		}
		&-embed{
			background: #e8e8e8;
			position: absolute;
			width: 86.8%;
			left: 6.8%;
			height: 78.39%;
			top: 14.72%;
		}
	}
	&__desktop{
		background: $grey;
		padding-bottom: px($desktop-vertical-space);
	}
	&__device-desktop{
		margin-left: (-$extended-side-space * 1px);
		margin-right: (-$extended-side-space * 1px);
		&-holder{
			padding-top: 57.17%;
			background: url(../i/device-desktop.png) no-repeat center top;
			background-size: contain;
			position: relative;
		}
		&-embed{
			background: #e8e8e8;
			position: absolute;
			//width: 53.3%;
			width: 75.1%;
			left: 13.12%;
			height: 72.06%;
			top: 16.04%;
		}
	}
	&__iframe{
		width: 100%;
		height: 100%;
		&--mobile{
			iframe{
				min-height: 100% !important; // Pick n win games needs to have full height
			}
		}
		&--desktop{
			width: 100%;
			height: 100%;
			transform: none;
			transform-origin: left top;
			iframe {
				min-height: 100% !important; // Instant games needs to have full height
			}
		}
		&--picknwin{
			overflow: hidden;
			iframe{
				width: 100% !important;
				height: 100% !important;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
		&--lottery-games{
			overflow-x: hidden;
			overflow-y: auto;
		}
		&--instant-games{
			overflow-x: hidden;
			overflow-y: auto;
		}
		&--keno-games{
			overflow-x: hidden;
			overflow-y: auto;
			//overflow: hidden;
			//overflow: hidden;
			//			//iframe{
			//				//width: 100% !important;
			//				//height: 100% !important;
			//				//overflow-x: hidden;
			//				//overflow-y: auto;
			//			//}
		}
	}
}

/* Icon multilist */

.icon-multilist{
	&__holder{
		display: flex;
		justify-content: flex-end;
	}
	&__column{
		flex-basis: box(5);
		margin-right: (($box-width + $box-space) * 1%);
		&:last-child{
			margin-right: 0;
		}
	}
	&__item{
		margin-bottom: px($desktop-vertical-space);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__icon{
		width: px(100);
		height: px(100);
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: px(20);
		&--draw{
			background-image: url(../i/icon-draw-magenta.svg);
		}
		&--report{
			background-image: url(../i/icon-report-magenta.svg);
		}
		&--lottery-ticket{
			background-image: url(../i/icon-lottery-ticket-magenta.svg);
		}
		&--process{
			background-image: url(../i/icon-process-magenta.svg);
		}
	}
	&__list{
		list-style-type: none;
		li{
			$icon-size: 6;
			$offset-size: 35;
			$line-height: 25;
			margin-bottom: px(15);
			padding-left: px($offset-size);
			position: relative;
			font-size: px($font-size);
			line-height: ($line-height / $font-size);
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				display: block;
				content: '';
				position: absolute;
				width: px($icon-size);
				height: px($icon-size);
				left: px(($offset-size - $icon-size) / 2);
				top: px(($line-height - $icon-size) / 2);
				background: $magenta;
				border-radius: 50%;
			}
		}
	}
	.heading-2{
		color: $magenta;
	}
}

/* Lottery terminals */

.lottery-terminals{
	background: $magenta;
	color: #fff;
	padding-top: px($desktop-vertical-space);
	padding-bottom: px($desktop-vertical-space);
	&__holder{
		display: flex;
	}
	&__column{
		flex-basis: box(4);
		margin-right: ($box-space * 1%);
		&:last-child{
			margin-right: 0;
		}
		.paragraph{
			max-width: 300px;
		}

	}
	&__item{

	}
	&__illustration{
		max-width: 300px;
		height: px(270);
		margin-bottom: px($desktop-vertical-space / 2);
		position: relative;
		&:before{
			display: block;
			content: '';
			width: px(230);
			height: px(230);
			border-radius: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: $dark-magenta;
		}
	}
	&__image{
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		z-index: 2;
		&--mobile-touch{
			background-image: url(../i/terminal-mobile-touch.png);
		}
		&--android{
			background-image: url(../i/terminal-android.png);
		}
	}
	&__list{
		list-style-type: none;
		max-width: 330px;
		li{
			margin-bottom: px(15);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

/* Accessories */

.accessories{
	&__row{
		display: flex;
		margin-bottom: px(40);
		&:last-child{
			margin-bottom: 0;
		}
		&--very-large{
			$accessories-item-width: box-value(5);
			$accessories-item-count: 2;
			$holder-side-space: ((100 - (($accessories-item-width * $accessories-item-count) + $box-space)) / 2);
			.accessories__item{
				flex-basis: ($accessories-item-width * 1%);
				margin-right: ($box-space * 1%);
				&:nth-child(#{$accessories-item-count}n+1){
					margin-left: ($holder-side-space * 1%);
				}
				&:nth-child(#{$accessories-item-count}n){
					margin-right: ($holder-side-space * 1%);
				}
			}
			.accessories__image{
				width: 80%;
				height: 75%;
			}
		}
		&--large{
			.accessories__item{
				@include flex-basis(3, $box-space);
			}
		}
		&--small{
			.accessories__item{
				@include flex-basis(4, $box-space);
			}
		}
	}
	&__item{

	}
	&__image-holder{
		padding-top: 100%;
		background: $light-grey;
		position: relative;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__image{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 65%;
		height: 65%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		&--desktop-pos{
			background-image: url(../i/accessory-desktop-pos.png);
		}
		&--android-pos{
			background-image: url(../i/accessory-android-pos.png);
		}
		&--desktop-terminal{
			background-image: url(../i/accessory-desktop-terminal.png);
		}
		&--external-printer{
			background-image: url(../i/accessory-external-printer.png);
		}
		&--omr{
			background-image: url(../i/accessory-omr.png);
		}
		&--2d-barcode-scanner{
			background-image: url(../i/accessory-2d-barcode-scanner.png);
		}
		&--barcode-scanner{
			background-image: url(../i/accessory-barcode-scanner.png);
		}
		&--desktop{
			background-image: url(../i/accessory-desktop.png);
		}
		&--mobile{
			background-image: url(../i/accessory-mobile.png);
		}
	}
	&__name{
		/*@include daxline-extra-bold;*/
		@include font-accent;
		text-transform: uppercase;
		font-size: px($font-size);
	}
}

/* Team */

.team{
	&__holder{
		display: flex;
		flex-wrap: wrap;
		width: box(10);
		margin-left: auto;
		margin-right: auto;
		&:last-child{
			margin-bottom: px(-$desktop-vertical-space / 2);
		}
	}
	&__item{
		@include flex-basis(3, $box-width);
		margin-bottom: px($desktop-vertical-space / 2);
		.paragraph{
			text-align: justify;
		}
	}
	&__picture{
		padding-top: 120%;
		margin-bottom: px(30);
		background-color: $grey;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: $radius;
	}
	.heading-2{
		/*margin-bottom: 0;*/
		margin-bottom: 5px;
	}
	.heading-3{
		/*color: $blue;*/
		opacity: $opacity;
	}
}

/* Contact */

.contact{
	$icon-size: 45;
	$icon-offset: 20;
	background: $dark-blue;
	color: #fff;
	padding-top: px($desktop-vertical-space);
	padding-bottom: px($desktop-vertical-space);
	margin-bottom: 0;
	&__anchor{
		padding-left: px($icon-size + $icon-offset);
		min-height: px($icon-size);
		position: relative;
		margin-bottom: px(30);
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			display: block;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-size: contain;
			width: px($icon-size);
			height: px($icon-size);
			background-repeat: no-repeat;
			background-position: left center;
		}
		&--support{
			&:before{
				background-image: url(../i/icon-support-white.svg);
			}
		}
		&--email{
			&:before{
				background-image: url(../i/icon-envelope-white.svg);
			}
		}
		&-text{
			/*@include daxline-extra-bold;*/
			/*@include font-base-bold;*/
			@include font-accent;
			text-transform: uppercase;
		}
		&-hyperlink{
			transition: opacity $transition;
			&:hover{
				opacity: $opacity;
			}
		}
	}
	.paragraph{
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

/* Office locations */

.locations{
	$locations-item-width: box-value(5);
	$locations-item-count: 2;
	$holder-side-space: ((100 - (($locations-item-width * $locations-item-count) + $box-space)) / 2);


	background: $blue;
	padding-top: px($desktop-vertical-space);
	padding-bottom: px($desktop-vertical-space);
	margin-bottom: 0;
	&__holder{
		display: flex;
		/*flex-wrap: wrap;*/
		/*justify-content: center;*/
	}
	/*&__column{
		flex-basis: box(5);
		margin-right: ($box-space * 1%);
		&:last-child{
			margin-right: 0;
		}
	}*/
	&__item{
		flex-basis: ($locations-item-width * 1%);
		margin-right: ($box-space * 1%);
		&:nth-child(#{$locations-item-count}n+1){
			margin-left: ($holder-side-space * 1%);
		}
		&:nth-child(#{$locations-item-count}n){
			margin-right: ($holder-side-space * 1%);
		}


		/*margin-bottom: px($desktop-vertical-space / 2);*/
		border-radius: $radius;
		overflow: hidden;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__illustration{
		padding-top: 60%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $grey;
	}
	&__text-holder{
		background: $light-grey;
		padding: px(30);
	}
	.heading-1{
		color: #fff;
	}
	.heading-2{
		margin-bottom: px(15);
		color: $blue;
	}
}

.mobile-only{
	display: none;
}

.tablet-portrait-down-only{
	display: none;
}

/* Cookie */

.cookie{
	position: fixed;
	z-index: $z-index-cookie;
	width: 80vw;
	max-width: 470px;
	right: ($desktop-horizontal-space * 1px);
	bottom: ($desktop-horizontal-space * 1px);
	background: #fff;
	padding: ($desktop-horizontal-space * 1px);
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
	border: 1px solid $dark-grey;
	border-radius: 6px;
	display: none;
	&.active{
		display: block;
	}
	&__text{
		margin-bottom: 25px;
	}
	&__heading{
		font-size: px(20);
		line-height: (30 / 25);
		text-transform: uppercase;
		/*@include daxline-extra-bold;*/
		@include font-accent;
		margin-bottom: 25px;
	}
	p{
		font-size: 15px;
		line-height: 1.6;
	}
}

/* Virtual anchor */

.virtual-anchor{
	$section-bottom-padding-value: px($desktop-vertical-space);
	$menu-height-value: ($menu-height * 1px);
	position: relative;
	&--1{
		top: calc(#{-$section-bottom-padding-value} - #{$menu-height-value});
	}
	&--2{
		top: -$menu-height-value;
	}
}

/* Achievements */

.achievements{
	$margin: 5;
	$border-radius: 10;
	$padding: 30;
	$icon-size: 70;
	background: $light-grey;
	margin-bottom: px($desktop-vertical-space / 2);
	&--items-2{
		.achievements__item{
			flex-basis: flex-basis(2, $margin);
		}
		.achievements__value{
			font-size: px(30);
			line-height: 1.2;
		}
	}
	&--items-3{
		.achievements__item{
			flex-basis: flex-basis(3, $margin);
		}
		.achievements__value{
			font-size: px(40);
			line-height: 1;
		}
		.paragraph{
			max-width: 190px;
		}
	}
	&--blue{
		.achievements__icon{
			background: $medium-blue;
		}
		.achievements__text-holder{
			background: $blue;
		}
	}
	&--magenta{
		.achievements__icon{
			background: $medium-magenta;
		}
		.achievements__text-holder{
			background: $magenta;
		}
	}
	&--white{
		.achievements__item{
			background: #fff;
			box-shadow: 0 px(13) px(20) 0 rgba(0, 0, 0, 0.1);
		}
		.achievements__value{
			color: $blue;
			&:before{
				background: $blue;
			}
		}
		.paragraph{
			color: $black;
		}
	}
	&--no-icons{
		.achievements__item{
			display: block;
			margin-top: 0;
			text-align: center;
		}
		.achievements__value{
			font-size: px(25);
			&:before{
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.container{
			padding-top: px($desktop-vertical-space / 2);
		}
		.paragraph{
			max-width: none;
		}
	}
	.container{
		padding-bottom: px($desktop-vertical-space / 2);
	}
	&__holder{
		display: flex;
	}
	&__item{
		margin-right: ($margin * 1%);
		margin-top: px(-$desktop-vertical-space / 2);
		position: relative;
		z-index: 2;
		display: flex;
		min-height: px(220);
		box-shadow: 0 px(13) px(20) 0 rgba(0, 0, 0, 0.2);
		border-radius: px($border-radius);
		overflow: hidden;
		&:last-child{
			margin-right: 0;
		}
	}
	&__pictogram{
		width: px(60);
		height: px(60);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		margin-bottom: px(25);
		margin-left: auto;
		margin-right: auto;
		&--marketing{
			background-image: url(../i/icon-marketing-blue.svg);
		}
		&--brand{
			background-image: url(../i/icon-brand-blue.svg);
		}
		&--cart{
			background-image: url(../i/icon-cart-blue.svg);
		}
	}
	&__icon{
		flex: 0 0 px($padding + $icon-size + $padding);
		border-top-left-radius: px($border-radius);
		border-bottom-left-radius: px($border-radius);
		position: relative;
		&:before{
			position: absolute;
			left: 50%;
			top: px($padding);
			transform: translateX(-50%);
			display: block;
			content: '';
			width: px($icon-size);
			height: px($icon-size);
			background-position: center top;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&--jackpot{
			&:before{
				background-image: url(../i/icon-jackpot-white.svg);
			}
		}
		&--payout{
			&:before{
				background-image: url(../i/icon-payout-white.svg);
			}
		}
		&--lotto-experience{
			&:before{
				background-image: url(../i/icon-lotto-experience-white.svg);
			}
		}
		&--prize-promotion{
			&:before{
				background-image: url(../i/icon-prize-promotion-white.svg);
			}
		}
		&--spaceship{
			&:before{
				background-image: url(../i/icon-spaceship-white.svg);
			}
		}
	}
	&__text-holder{
		flex: 1 1 auto;
		padding: px($padding);
		color: #fff;
		border-top-right-radius: px($border-radius);
		border-bottom-right-radius: px($border-radius);
	}
	&__value{
		text-transform: uppercase;
		padding-bottom: px(27);
		margin-bottom: px(25);
		position: relative;
		/*@include daxline-extra-bold;*/
		@include font-accent;
		&:before{
			display: block;
			content: '';
			width: px(50);
			height: 3px;
			background: #fff;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
	&__text{
		/*@include daxline-extra-bold;*/
		/**@include font-base-bold;*/
		/*font-size: px(20);*/
	}
}

/* Awards */

.awards{
	&__holder{

	}
	&__item{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin-bottom: px($desktop-vertical-space);
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__logo{
		flex-basis: box(3);
		height: px(200);
		/*background: #343a40;*/
		/*margin-right: ($box-space * 1%);*/
		margin-right: box(1);
		background-repeat: no-repeat;
		background-position: center top;
		background-size: contain;
		&--egr-operator-2018{
			background-image: url(../i/award-egr-operator-2018.png);
		}
		&--egr-supplier-2019{
			background-image: url(../i/award-egr-supplier-2019.png);
		}
	}
	&__text-holder{
		flex-basis: box(6);
	}
}

/* Example deployments */

.deployment{
	&__item{
		padding-top: px($desktop-vertical-space / 2);
		padding-bottom: px($desktop-vertical-space / 2);
		position: relative;
		&:first-child{
			padding-top: px($desktop-vertical-space);
		}
		&:last-child{
			padding-bottom: 0;
		}
		&:before{
			display: block;
			content: '';
			background: $light-grey;
			width: 100%;
			position: absolute;
			left: 0;
		}
		&--unibet{
			&:before{
				height: 75%;
				top: 0;
			}
		}
		&--lottoland{
			&:before{
				height: 42%;
				bottom: 0;
			}
		}
		&--lottomart{
			&:before{
				height: 79%;
				top: 0;
			}
		}
		&--coral{
			&:before{
				/*height: 79%;
				top: 0;*/
				display: none;
			}
		}
		&--ladbrokes{
			&:before{
				display: none;
			}
		}
	}
	&__holder{
		display: flex;
		&--left{
			justify-content: flex-start;
		}
		&--right{
			justify-content: flex-end;
		}
	}
	&__wrapper{
		position: relative;
		z-index: 2;
		flex-basis: 80%;
	}
	&__screenshot{
		padding-top: 62%;
		border-radius: px(10);
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 4px 10px 2px rgba(0, 0, 0, 0.1);
		/*border: 1px solid rgba(0, 0, 0, 0.2);*/
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: #ddd;
		position: relative;
		&--unibet{
			background-image: url(../i/example-deployment-unibet.jpg);
		}
		&--lottoland{
			background-image: url(../i/example-deployment-lottoland.jpg);
		}
		&--lottomart{
			background-image: url(../i/example-deployment-lottomart.jpg);
		}
		&--coral{
			background-image: url(../i/example-deployment-coral.jpg);
		}
		&--ladbrokes{
			background-image: url(../i/example-deployment-ladbrokes.jpg);
		}
	}
	&__logo{
		display: block;
		position: absolute;
		top: 50%;
		width: px(280);
		height: px(170);
		border-radius: 5px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 15px 2px rgba(0, 0, 0, 0.1);
		transition: background-color 250ms ease-out;
		background-size: 60% auto;
		background-repeat: no-repeat;
		background-position: center center;
		&--unibet{
			right: 0;
			transform: translate(50%, -50%);
			background-color: #147b45;
			background-image:  url(../i/logo-unibet-white.svg);
			&:hover{
				background-color: #0e5f31;
			}
		}
		&--lottoland{
			left: 0;
			transform: translate(-50%, -50%);
			background-color: #91c01c;
			background-image:  url(../i/logo-lottoland-white.svg);
			&:hover{
				background-color: #69a507;
			}
		}
		&--lottomart{
			right: 0;
			transform: translate(50%, -50%);
			background-color: #ff6600;
			background-image: url(../i/logo-lottomart-white.png);
			&:hover{
				background-color: #bf3a00;
			}
		}
		&--coral{
			left: 0;
			transform: translate(-50%, -50%);
			background-color: #084d8d;
			background-image: url(../i/logo-coral-white.svg);
			&:hover{
				background-color: #07294b;
			}
		}
		&--ladbrokes{
			left: 0;
			transform: translate(-50%, -50%);
			background-color: #e72d1a;
			background-image: url(../i/logo-ladbrokes-white.svg);
			&:hover{
				background-color: #c91907;
			}
		}
	}
}

/* Hero split view */

.splitbox{
	display: flex;
	&--homepage{
		margin-bottom: 0;
	}
	&--no-margin{
		margin-bottom: 0;
	}
	&--2{
		.splitbox__item{
			flex-basis: (100% / 2);
		}
	}
	&--3{
		.splitbox__item{
			flex-basis: (100% / 3);
		}
	}
	&__item{
		color: #fff;
		position: relative;
		overflow: hidden;
		&:hover{
			.splitbox__image{
				width: 103%;
				height: 103%;
			}
		}

	}
	&__image{
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100.5%;
		height: 100.5%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-color: #333;
		transition: all 250ms ease-out;
		&--lotto-betting{
			background-image: url(../i/splitbox-lotto-betting.jpg);
		}
		&--instant-games{
			background-image: url(../i/splitbox-instant-games.jpg);
		}
		&--keno-betting{
			background-image: url(../i/splitbox-keno-betting.jpg);
		}
		&--games{
			background-image: url(../i/splitbox-keno-betting.jpg);
		}
		&--prize-cover{
			background-image: url(../i/splitbox-prize-cover.jpg);
		}
		&--promotions{
			background-image: url(../i/splitbox-promotions.jpg);
		}
		&--lottery-prize-cover{
			background-image: url(../i/splitbox-lottery-prize-cover.jpg);
		}
		&--prize-draws{
			background-image: url(../i/splitbox-prize-draws.jpg);
		}
	}
	&__overlay{
		position: absolute;
		z-index: 2;
		left: 0;
		top: 0;
		width: 100.5%;
		height: 100.5%;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	}
	&__text{
		position: relative;
		z-index: 3;
		height: 100%; /* Slideshow correction */
		min-height: px(650);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: px($desktop-vertical-space / 2);
		text-align: center;
		&-description{
			font-size: px(20);
			text-transform: uppercase;
			@include font-base-bold;
		}
	}
	.heading-1{
		/*margin-bottom: 0;*/
		line-height: 1;
		margin-bottom: 10px;
	}
}

/* Standalone games embed */

.standalone-embed{
	&__mobile{
		display: none;
	}
	&__device-mobile{
		width: 100%;
		max-width: 431px;
		margin: 0 auto px($desktop-vertical-space / 2) auto;
		position: relative;
		&-holder{
			padding-top: 200%;
			background: url(../i/device-mobile.png) no-repeat center top;
			background-size: contain;
			position: relative;
			z-index: 4;
		}
		&-embed{
			background: #e8e8e8;
			position: absolute;
			width: 86.8%;
			left: 6.8%;
			height: 78.39%;
			top: 14.72%;
		}
	}
	&__desktop{

	}
	&__device-desktop{
		margin-left: (-$extended-side-space * 1px);
		margin-right: (-$extended-side-space * 1px);
		&-holder{
			padding-top: 57.17%;
			background: url(../i/device-desktop.png) no-repeat center top;
			background-size: contain;
			position: relative;
		}
		&-embed{
			background: #e8e8e8;
			position: absolute;
			width: 53.3%;
			left: 13.12%;
			height: 72.06%;
			top: 16.04%;
		}
	}
	&__iframe{
		width: 100%;
		height: 100%;
		&--mobile{

		}
		&--desktop{
		}
		&--lottery-games{
			overflow-x: hidden;
			overflow-y: auto;
		}
		&--instant-games{
			overflow-x: hidden;
			overflow-y: auto;
		}
		&--keno-games{
			overflow: hidden;
			iframe{
				width: 100% !important;
				height: 100% !important;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
	}
}

/* Main claim */

.main-claim{
	color: #6e6e6e;
	text-align: center;
	&__heading{
		font-size: px(25);
		text-transform: uppercase;
		@include font-accent;
		max-width: 670px;
		line-height: 1.35;
		margin: 0 auto px(20) auto;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__paragraph{
		@include font-base-bold;
		font-size: px(19);
		line-height: 1.5;
		max-width: 670px;
		margin: 0 auto px(20) auto;
		&:last-child{
			margin-bottom: 0;
		}
	}
}

/* Standalone text */

.standalone-text{
	&__paragraph{
		max-width: 750px;
	}
}

.logo-excel-london{
	$logo-excel-aspect-ratio: 0.37;
	$logo-excel-width: 130;
	display: inline-block;
	width: px($logo-excel-width);
	height: px($logo-excel-width * $logo-excel-aspect-ratio);
	background: url(../i/logo-excel-london-white.png) no-repeat left top;
	background-size: contain;
}

.nowrap{
	white-space: nowrap;
}