/* Desktop: 1101px - 1301px */

@media (max-width: $desktop-breakpoint){
	$font-size-responsive: 16;
	$zoom: $font-size / $font-size-responsive;
	html{
		font-size: ($font-size-responsive * 1px);
	}
	.hero{
		&__holder{
			min-height: px(430 * $zoom);
			.paragraph-big{
				max-width: 600px;
			}
		}
	}
	.splitbox{
		&__text{
			min-height: px(450 * $zoom);
		}
	}
	.heading-1{
		font-size: px(43 * $zoom);
	}
	.heading-2{
		font-size: px(23 * $zoom);
	}
	.main-claim{
		&__heading{
			font-size: px(23 * $zoom);
		}
	}
	.header{
		&__menu{
			li{
				margin-right: px(25 * $zoom);
				a{
					font-size: 15px;
				}
			}
		}
	}
	.players-experience{
		&__illustration{
			height: px(400 * $zoom);
		}
	}
	.lotto-betting{
		margin-top: px(-170);
		padding-top: px(276);
	}
	.game-embed{
		&__device-mobile{
			max-width: 390px;
		}
		&__device-desktop{
			&-embed{
				width: 75.1%;
			}
		}
		&__iframe{
			&--desktop{
				width: 125%;
				height: 125%;
				transform: scale3d(0.8, 0.8, 0.8);
				transform-origin: left top;
			}
			&--picknwin {
				iframe {
					width: 100%;
					height: 110.777%;
					overflow: hidden auto;
					min-width: 375px;
					transform: scale3d(.90273, .90273, .90273);
					transform-origin: top left;
				}
			}
		}
	}
	.standalone-embed{
		&__device-mobile{
			max-width: 390px;
		}
		&__device-desktop{
			&-embed{
				width: 75.1%;
			}
		}
	}
}