/* Tablet Landscape: 901px - 1100px */

@media (max-width: $tablet-landscape-breakpoint){
	$font-size-responsive: 15;
	$zoom: $font-size / $font-size-responsive;
	html{
		font-size: ($font-size-responsive * 1px);
	}
	.paragraph{
		font-size: 16px;
	}
	.paragraph-big{
		font-size: 18px;
	}
	.main-claim{
		&__paragraph{
			font-size: 18px;
		}
	}
	.hero{
		&--gaming-content{
			&:before{
				background: linear-gradient(to right, rgba(25, 13, 38, 0.7) 0%, rgba(25, 13, 38, 0.4) 100%);
			}
		}
		&--omnichannel-lottery{
			&:before{
				background: linear-gradient(to right, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.15) 100%);
			}
		}
		&__holder{
			min-height: px(380 * $zoom);
		}
	}
	.owl-dots{
		bottom: 20px;
	}
	.splitbox{
		&__text{
			min-height: px(350 * $zoom);
			padding: 30px 30px 40px 30px;
		}
	}
	.stats{
		&__value{
			font-size: px(30 * $zoom);
		}
	}
	.header{
		$item-bottom-margin: 20;
		&__mobile-plate{
			opacity: 0;
			pointer-events: none;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			/*height: 100%;*/
			max-height: 100vh;
			background: #fff;
			transition: opacity $transition;
			padding-top: ($menu-height * 1px);
			box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			/*padding-bottom: ($menu-height-mobile * 1px);*/
			&-scroll{
				/*overflow-y: auto;*/
				/*-webkit-overflow-scrolling: touch;*/
				/*height: 100%;*/
				background: $light-grey;
				color: #fff;
				/*padding-top: 30px;
				padding-bottom: 30px;*/
				padding: ($desktop-horizontal-space * 1px);
				/*display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;*/
				background: $very-dark-grey;
			}
			&.active{
				opacity: 1;
				pointer-events: auto;
				&:before{
					display: block;
					content: '';
					width: 100%;
					height: ($menu-height * 1px);
					background: #fff;
					position: fixed;
					left: 0;
					top: 0;
					z-index: ($z-index-menu + 1);
				}
				.header__submenu{
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
		&__menu{
			/*flex-direction: column;
			justify-content: center;
			align-items: center;*/
			display: block;
			li{
				margin-right: 0;
				margin-bottom: ($item-bottom-margin * 1px);
				&:last-child{
					margin-bottom: 0;
				}
				a{
					font-size: 16px;
					/*text-align: center;*/
					margin-bottom: ($item-bottom-margin * 1px);
					&:last-child{
						margin-bottom: 0;
					}
				}
				.header__submenu{
					padding-left: ($desktop-horizontal-space * 1px);
					a{
						margin-bottom: ($item-bottom-margin * 1px);
						/*@include daxline-extra-bold;*/
						/*@include font-base-bold;*/
						@include font-base-regular;

						/*text-transform: uppercase;*/
					}
				}
			}
			&-item-mobile{
				display: block;
			}
		}
		&__submenu{
			position: initial;
			left: initial;
			top: initial;
			padding: initial;
			border-radius: initial;
			box-shadow: none;
			color: inherit;
			background: none;
			&:before,
			&:after{
				display: none;
			}
		}
		&__hamburger{
			display: block;
		}
	}
	.products-services{
		&__holder{
			margin-top: px(-102 * $zoom);
		}
	}
	.image-with-description{
		&__text{
			font-size: 16px;
		}
	}
	.icon-multilist{
		&__list{
			li{
				font-size: 16px;
			}
		}
	}
	.lottery-terminals{
		&__list{
			li{
				font-size: 16px;
			}
		}
	}
	.accessories{
		&__name{
			font-size: 16px;
		}
	}
	.articles{
		&__header{
			padding-top: px($desktop-vertical-space / 2);
		}
		&__hero{
			height: px(400 * $zoom);
		}
		&__text{
			p{
				font-size: 16px;
			}
			ul, ol{
				li{
					font-size: 16px;
				}
			}
		}
	}
	.contact{
		&__anchor{
			&-text{
				font-size: 16px;
			}
		}
	}
	.achievements{
		&--items-3{
			.achievements__item{
				flex-basis: 47.5%;
			}
			.achievements__value{
				font-size: px(30 * $zoom);
			}
		}
		&__icon{
			flex-basis: px(90 * $zoom);
			&:before{
				width: px(50 * $zoom);
				height: px(50 * $zoom);
			}
		}
		&__text{
			font-size: 16px;
		}
	}
	.logo-description{
		&__icon{
			width: 130px;
			height: 130px;
		}
	}
	.game-embed {
		&__iframe{
			&--desktop{
				width: 150%;
				height: 150%;
				transform: scale3d(0.666, 0.666, 0.666);
				transform-origin: left top;
			}
		}
	}
}