/* Desktop Large: 1302px - 1577px */

@media (max-width: $large-desktop-breakpoint){
	$font-size-responsive: 17;
	$zoom: $font-size / $font-size-responsive;
	html{
		font-size: ($font-size-responsive * 1px);
	}
	.heading-1{
		font-size: px(50 * $zoom);
	}
	.products-services{
		&__illustration{
			margin-left: 0;
			margin-right: 0;
		}
		&__holder{
			/*margin-top: px(-180 * $zoom);*/
			margin-top: px(-121 * $zoom);
		}
	}
	.hero{
		&--omnichannel-lottery{
			.hero__holder{
				.paragraph-big{
					max-width: 630px;
				}
			}
		}
		&__holder{
			min-height: px(540 * $zoom);
		}
	}
	.players-experience{
		&__illustration{
			height: px(540 * $zoom);
		}
	}
	.overprint-image{
		&__illustration-wrapper{
			margin-left: 0;
		}
	}
	.game-embed{
		&__device-desktop{
			margin-left: 0;
			margin-right: 0;
		}
		&__iframe{
			&--desktop{
				width: 111.3%;
				height: 111.3%;
				transform: scale3d(0.9, 0.9, 0.9);
				transform-origin: left top;
			}
		}
	}
	.standalone-embed{
		&__device-desktop{
			margin-left: 0;
			margin-right: 0;
		}
	}
	.hero{
		&__illustration{
			&-image{
				&-holder{
					margin-right: 0;
				}
			}
		}
	}
	.splitbox{
		&__text{
			min-height: px(550 * $zoom);
		}
	}
}