/* Mobile: 0 - 700px */

@media (max-width: $mobile-breakpoint){
	$font-size-responsive: 13;
	$zoom: $font-size / $font-size-responsive;
	::-webkit-scrollbar{
		display: none;
		width: 0;
		background: transparent;
	}
	::-webkit-scrollbar-thumb{
		background: transparent;
	}
	html{
		font-size: ($font-size-responsive * 1px);
		&.menu-active{
			overflow: hidden;
		}
	}
	body{
		padding-top: ($menu-height-mobile * 1px);
	}
	.desktop-only{
		display: none;
	}
	.mobile-only{
		display: block;
	}
	.container{
		padding-left: ($mobile-horizontal-space * 1px);
		padding-right: ($mobile-horizontal-space * 1px);
	}
	.heading-1{
		font-size: 30px;
		margin-bottom: (($mobile-vertical-space / 2) * 1px);
		br{
			display: none;
		}
	}
	.paragraph{
		&--bold{
			/*@include daxline-light;*/
			@include font-base-regular;
		}
	}
	.paragraph-big{
		/*@include daxline-light;*/
		@include font-base-regular;
		br{
			display: none;
		}
	}
	.main-claim{
		text-align: left;
		&__paragraph{
			max-width: initial;
			font-size: 16px;
		}
	}
	.section{
		margin-bottom: ($mobile-vertical-space * 1px);
	}
	.header{
		$item-bottom-margin: 15;
		&__logo{
			$logo-aspect-ratio: 1.96;
			$logo-height: 38;
			width: ($logo-height * $logo-aspect-ratio * 1px);
			height: ($logo-height * 1px);
		}
		.container{
			height: ($menu-height-mobile * 1px);
		}
		&__menu{
			li{
				margin-bottom: ($item-bottom-margin * 1px);
				a{
					margin-bottom: ($item-bottom-margin * 1px);
				}
				.header__submenu{
					a{
						margin-bottom: ($item-bottom-margin * 1px);
					}
				}
			}
		}
		&__mobile-plate{
			padding-top: ($menu-height-mobile * 1px);
			&-scroll{
				display: block;
			}
			&.active{
				&:before{
					height: ($menu-height-mobile * 1px);
				}
			}
		}
	}
	.hero{
		&--homepage{
			margin-bottom: 0;
			/*&:before{
				background: linear-gradient(to right, rgba(80, 52, 47, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
			}*/
			.hero__holder{
				padding-bottom: (($mobile-vertical-space / 2) * 1px);
			}
		}
		&--risk-management{
			/*margin-bottom: 0;*/
			&:before{
				/*background: linear-gradient(to right, rgba(13, 30, 47, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);*/
				background: linear-gradient(to right, rgba(43, 39, 37, 0.8) 0%, rgba(43, 39, 37, 0.5) 100%);
			}
		}
		&--gaming-content{
			&:before{
				background: linear-gradient(to right, rgba(7, 26, 46, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);
			}
		}
		&--lotto-betting{
			/*margin-bottom: 0;*/
			&:before{
				background: linear-gradient(to right, rgba(1, 0, 40, 0.5) 0%, rgba(1, 0, 40, 0.2) 100%);
			}
		}
		&--instant-win-games{
			&:before{
				background: linear-gradient(to right, rgba(13, 16, 28, 0.5) 0%, rgba(42, 11, 29, 0.3) 100%);
			}
		}
		&--omnichannel-lottery{
			/*margin-bottom: 0;*/
			background-image: url(../i/hero-lottery-systems-mobile.jpg);
			&:before{
				background: linear-gradient(to right, rgba(40, 37, 46, 0.85) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}
		&--about-us{
			&:before{
				background: linear-gradient(to right, rgba(16,24,32,0.85) 0%, rgba(16,24,32,0.35) 100%);
			}
		}
		&--example-deployments{
			.heading-1{
				br{
					display: block;
				}
			}
		}
		&--awards{
			color: #fff;
			&:before{
				background: linear-gradient(to right, rgba(16,24,32,0.85) 0%, rgba(16,24,32,0.35) 100%);
			}
			.hero__holder{
				.paragraph-big{
					max-width: 75vw;
				}
			}
		}
		&--promotions{
			&:before{
				background: linear-gradient(to right, rgba(37, 20, 31, 0.7) 0%, rgba(37, 20, 31, 0.35) 100%);
			}
		}
		&--keno-games{
			/*background-image: url(../i/hero-keno-games-mobile.jpg);*/
			&:before{
				/*display: none;*/
				background: linear-gradient(to right, rgba(16, 24, 32, 0.8) 0%, rgba(16, 24, 32, 0.5) 100%);
			}
		}
		&__illustration{
			flex-direction: column-reverse;
			&-image{
				width: 100%;
				margin-bottom: (($mobile-vertical-space / 2) * 1px);
				&-holder{
					&--keno-games{
						height: 22vw;
						background-position: left top;
					}
				}
			}
		}
		&__holder{
			/*padding-top: 130px;*/
			/*padding-top: 100px;
			padding-bottom: 40px;*/
			padding-top: 70px;
			padding-bottom: 70px;
			height: 100%;
			min-height: 250px;
			.heading-1{
				margin-bottom: 20px;
			}
			.paragraph-big{
				font-size: 16px;
				max-width: 75vw;
			}
		}
		.container{
			height: 100%;
		}
	}
	.splitbox{
		display: block;
		&--homepage{
			margin-bottom: 0;
		}
		&--no-margin{
			margin-bottom: 0;
		}
		&__item{
			display: block;
		}
		&__text{
			min-height: 53vw;
		}
		&__overlay{
			background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
		}
	}
	.stats{
		padding-top: 40px;
		padding-bottom: 40px;
		&__holder{
			flex-wrap: wrap;
		}
		&__item{
			flex-basis: 47%;
			margin-right: 6%;
			&:nth-child(2n){
				margin-right: 0;
			}
			&:nth-child(1),
			&:nth-child(2){
				margin-bottom: 40px;
			}
			&:nth-child(5){
				display: none;
			}
		}
		.paragraph{
			max-width: 90%;
			br{
				display: none;
			}
		}
	}
	.heading-holder{
		display: block;
		margin-bottom: (($mobile-vertical-space / 2) * 1px);
		&--extended-mobile-margin{
			.heading-holder__item{
				margin-bottom: ($mobile-vertical-space * 1px);
			}
		}
		&__item{
			margin-right: 0;
			margin-bottom: ($mobile-horizontal-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.products-services{
		&__holder{
			display: block;
		}
		/*&__column{
			margin-right: 0;
			margin-bottom: ($mobile-horizontal-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}*/
		&__item{
			margin-bottom: 30px;
			margin-right: 0;
			&:last-child{
				margin-bottom: 0;
			}
			&-header{
				padding: ($mobile-horizontal-space * 1px);
			}
			&-body{
				padding: ($mobile-horizontal-space * 1px);
			}
		}
		&__illustration{
			margin-bottom: ($mobile-horizontal-space * 1px);
			&-image{
				padding-top: 50%;
				background-position: left center;
				background-size: auto 100%;
			}
		}
		.heading-1{
			margin-bottom: 10px;
		}
	}
	.news{
		&__holder{
			display: block;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
		}
		&__item{
			margin-right: 0;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.split-content-narrow{
		display: block;
		margin-bottom: (($mobile-vertical-space / 2) * 1px);
		&__item{
			margin-right: 0;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.article-preview{
		&__text{
			padding: ($mobile-horizontal-space * 1px);
		}
		&__image{
			height: 200px;
		}
	}
	.clients{
		&__holder{
			/*display: flex;*/
			padding-left: ($mobile-horizontal-space * 1px);
			margin-left: (-$mobile-horizontal-space * 1px);
			margin-right: (-$mobile-horizontal-space * 1px);
			/*overflow-x: auto;
			-webkit-overflow-scrolling: touch;*/
		}
		&__row{
			/*margin-bottom: 0;*/
			margin-right: ($mobile-horizontal-space * 1px);
			&:last-child{
				/*margin-right: 0;*/
				padding-right: ($mobile-horizontal-space * 1px);
			}
		}
		&__logo{
			width: 53vw;
			/*flex-basis: auto;
			height: 130px;*/
			margin-right: ($mobile-horizontal-space * 1px);
			/*&:last-child{
				margin-right: 0;
			}*/
		}
	}
	.footer{
		padding-top: ($mobile-vertical-space * 1px);
		padding-bottom: ($mobile-vertical-space * 1px);
		&__column{
			flex-basis: 47%;
			margin-right: 6%;
			&:nth-child(3){
				margin-right: 0;
			}
			&:last-child{
				margin-top: 30px;
				padding-top: 30px;
				border-top: 1px solid #ddd;
				flex-basis: 100%;
				margin-right: 0;
			}
		}
		&__logo{
			$logo-height: 38;
			width: ($logo-height * $logo-aspect-ratio * 1px);
			height: ($logo-height * 1px);
		}
	}
	.image-with-description{
		&__holder{
			min-height: 0;
		}
		&__plate{
			width: 100%;
			padding: (($mobile-vertical-space / 2) * 1px) ($mobile-horizontal-space * 1px);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&__text{
			/*@include daxline-light;*/
			@include font-base-regular;
		}
		&__illustration{
			width: 100%;
			position: initial;
			right: initial;
			top: initial;
			height: 250px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
	.why-choose{
		&__holder{
			margin-left: 0;
			max-width: none;
		}
	}
	.icon-list{
		&__item{
			padding-left: 80px;
			margin-bottom: 40px;
		}
	}
	.use-cases{
		&__row{
			display: block;
			margin-bottom: ($mobile-vertical-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__item{
			margin-right: 0;
			margin-bottom: ($mobile-vertical-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.players-experience{
		&__illustration{
			background-image: url(../i/players-experience-mobile.jpg);
			height: 55vw;
		}
	}
	.lotto-betting{
		margin-top: 0;
		padding-top: ($mobile-vertical-space * 1px);
		padding-bottom: ($mobile-vertical-space * 1px);
	}
	.split-content{
		margin-bottom: ($mobile-vertical-space * 1px);
		display: block;
		&__item{
			margin-right: 0;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.other-games{
		&__holder{
			display: block;
		}
		&__column{
			margin-right: 0;
			margin-bottom: ($mobile-vertical-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.overplate-text{
		margin-top: 0;
		&__plate{
			display: block;
			width: auto;
			padding: (($mobile-vertical-space / 2) * 1px) ($mobile-horizontal-space * 1px);
			border-radius: 0;
			margin-left: (-$mobile-horizontal-space * 1px);
			margin-right: (-$mobile-horizontal-space * 1px);
		}
		&__column{
			margin-right: 0;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.overprint-image{
		&__holder{
			display: block;
		}
		&__illustration-holder{
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
		}
	}
	.game-embed{
		margin-bottom: 0;
		&__mobile{
			padding-bottom: ($mobile-vertical-space * 1px);
		}
		&__device-mobile{
			max-width: none;
			margin-bottom: ($mobile-vertical-space * 1px);
			&:before,
			&:after{
				display: none;
			}
			&-holder{
				padding-top: 150%;
				background: #000;
				border: 2px solid #000;
				border-radius: $radius;
				overflow: hidden;
				box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
			}
			&-embed{
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
	.standalone-embed{
		&__device-mobile{
			max-width: none;
			margin-bottom: ($mobile-vertical-space * 1px);
			&-holder{
				padding-top: 150%;
				background: #000;
				border: 2px solid #000;
				border-radius: $radius;
				overflow: hidden;
				box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
			}
			&-embed{
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
	.ticket-features{
		&__item{
			.paragraph{
				/*@include daxline-extra-bold;*/
				@include font-base-bold;
			}
		}
	}
	.related-products{
		padding-top: ($mobile-vertical-space * 1px);
		padding-bottom: ($mobile-vertical-space * 1px);
		margin-top: -1px;
		margin-bottom: 0;
		&__holder{
			display: block;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
		}
		&__item{
			margin-right: 0;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__text-holder{
			padding: ($mobile-horizontal-space * 1px);
		}
		&__button-holder{
			.button{
				display: block;
				width: 100%;
			}
		}
	}
	.logo-text{
		&__holder{
			display: block;
		}
		&__icons{
			margin-right: 0;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&-item{
				flex-basis: 30%;
				padding-top: 30%;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.icon-multilist{
		&__column{
			display: block;
			margin-bottom: ($mobile-vertical-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__item{
			margin-bottom: ($mobile-vertical-space * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__icon{
			margin-bottom: 20px;
		}
		.heading-2{
			margin-bottom: 20px;
		}
	}
	.lottery-terminals{
		padding-top: ($mobile-vertical-space * 1px);
		padding-bottom: ($mobile-vertical-space * 1px);
		&__holder{
			display: block;
		}
		&__column{
			margin-bottom: ($mobile-vertical-space * 1px);
			&:first-child{
				margin-bottom: (($mobile-vertical-space / 2) * 1px);
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__illustration{
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			max-width: 200px;
			height: 180px;
		}
	}
	.accessories{
		&__row{
			display: block;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&:last-child{
				margin-bottom: 0;
			}
			&--very-large{
				.accessories__item{
					margin-right: 0;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&--large{
				display: block;
				.accessories__item{
					margin-right: 0;
				}
				.accessories__image-holder{
					padding-top: 56%;
				}
			}
			&--small{
				flex-wrap: wrap;
				.accessories__item{
					@include flex-basis(2, 6);
					&:nth-last-child(1),
					&:nth-last-child(2){
						margin-bottom: 0;
					}
				}
			}
		}
		&__item{
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
		}
		&__image{
			width: 70%;
			height: 70%;
		}
		&__name{
			font-size: 15px;
		}
	}
	.articles{
		&__header{
			padding-top: ($mobile-vertical-space * 1px);
			padding-bottom: ($mobile-vertical-space * 1px);
			&--overlap{
				padding-bottom: (2 * $mobile-vertical-space * 1px);
				margin-bottom: (-$mobile-vertical-space * 1px);
			}
		}
		&__holder{
			display: block;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__hero{
			height: 56vw;
		}
		&__item{
			margin-right: 0;
			margin-bottom: 40px;
			&:nth-child(3n){
				margin-right: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__text{
			padding-top: (($mobile-vertical-space / 2) * 1px);
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			ul, ol{
				margin-left: 20px;
				margin-bottom: 20px;
			}
			p{
				margin-bottom: 20px;
			}
			h1, h2, h3, h4, h5, h6{
				margin-top: 40px;
				margin-bottom: 10px;
			}
			img{
				margin-top: 40px;
				margin-bottom: 40px;
			}
			.delimiter-heading{
				padding-top: 40px;
			}
		}
	}
	.team{
		&__holder{
			display: block;
			&:last-child{
				/*margin-bottom: -40px;*/
				margin-bottom: 0;
			}
		}
		&__item{
			/*flex-basis: 47%;
			margin-right: 6%;
			margin-bottom: 40px;*/
			margin-right: 0;
			margin-bottom: ($mobile-vertical-space * 1px);
			/*&:nth-child(3n){
				margin-right: 6%;
			}
			&:nth-child(2n){
				margin-right: 0;
			}*/
		}
		&__picture{
			width: 50%;
			padding-top: 50%;
		}
		.heading-2{
			margin-bottom: 5px;
		}
		.paragraph{
			font-size: 15px;
		}
	}
	.contact{
		margin-bottom: 0;
		padding-top: ($mobile-vertical-space * 1px);
		padding-bottom: ($mobile-vertical-space * 1px);
	}
	.locations{
		margin-bottom: 0;
		padding-top: ($mobile-vertical-space * 1px);
		padding-bottom: ($mobile-vertical-space * 1px);
		&__holder{
			display: block;
		}
		&__text-holder{
			padding: ($mobile-horizontal-space * 1px);
		}
		&__column{
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__item{
			margin-right: 0;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
		}
	}
	.owl-dots{
		/*display: none;*/
		bottom: ($mobile-horizontal-space * 1px);
		.owl-dot{
			width: 10px;
			height: 10px;
			margin-right: 15px;
		}
	}
	.achievements{
		&--items-3{
			.achievements__value{
				font-size: 25px;
			}
		}
		.container{
			/*padding-top: 0;*/
			padding-bottom: 0;
		}
		&__holder{
			display: block;
		}
		&__item{
			margin-right: 0;
			margin-top: 0;
			margin-bottom: (($mobile-vertical-space / 2) * 1px);
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.deployment{
		$logo-width: 120;
		$logo-aspect-ratio: 0.61;
		&__wrapper{
			.heading-1{
				font-size: 25px;
				line-height: 1.2;
				margin-bottom: 10px;
			}
		}
		&__holder{
			display: block;
		}
		&__item{
			margin-bottom: ($mobile-vertical-space * 1px);
			padding-top: 0;
			padding-bottom: ($logo-width * $logo-aspect-ratio / 2 * 1px);
			&:first-child{
				padding-top: 0;
			}
			&:last-child{
				padding-bottom: ($logo-width * $logo-aspect-ratio / 2 * 1px);
				margin-bottom: 0;
			}
		}
		&__screenshot{
			border-radius: $radius;
		}
		&__logo{
			right: initial;
			left: 50%;
			top: initial;
			bottom: 0;
			transform: translate(-50%, 50%);
			width: ($logo-width * 1px);
			height: ($logo-width * $logo-aspect-ratio * 1px);
			background-size: 66% auto;
			border-radius: 3px;
		}
	}
	.awards{
		&__item{
			display: block;
			margin-bottom: ($mobile-vertical-space * 1px);
			.heading-3{
				margin-bottom: ($mobile-vertical-space / 2 * 1px);
			}
		}
		&__logo{
			margin-bottom: ($mobile-vertical-space / 2 * 1px);
			background-position: 0 0;
		}
	}
	.cookie{
		right: 0;
		bottom: 0;
		max-width: initial;
		width: 100%;
		border-radius: 0;
		padding: 30px ($mobile-horizontal-space * 1px);
		border: none;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
		&__heading{
			margin-bottom: 15px;
			font-size: px(23 * ($font-size / 16));
		}
		&__text{
			margin-bottom: 20px;
		}
	}
	.logo-description{
		&__holder{
			align-items: flex-start;
		}
		&__icon{
			width: 90px;
			height: 90px;
			margin-right: ($mobile-horizontal-space * 1px);
		}
		&__text{

		}
	}
}